.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .board-with-labels {
    display: flex;
    align-items: flex-start;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .row {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .square.uncovered {
    background-color: lightblue;
  }
  
  .square:hover {
    opacity: 0.8;
  }
  
  .icon {
    width: 60%;
    height: 60%;
  }
  
  .row-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .row-label {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  .column-labels {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .column-label {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
  }